body {
    background-color: #0091AD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border: 3px solid darkred;
  }


.pizza {
   /*box model*/
   border: 1px solid #9D0208;
   padding: 1em; 
   margin: 1em;  
   border-radius: 2em;


   /*
   width: 20em;
   display: inline-block;
   min-height: 30em;*/
}

.medium_pizza{
    background-color: #455E89;
    flex: 1
}

.large_pizza{
    background-color: #723C70;
    flex: 1
}

.small_pizza{
    background-color: #A01A58;
    flex: 1
    
}

.contact_us{
    background-color: #B7094C;
    padding: 1em;
    border: 5px solid;
    margin: 1em;
    border-radius: 1em;    
}

.center_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border: 3px solid darkred
}


@media (min-width: 660px) {
    /*body {
        background-color: #9D0208;
        
    }
}*/




@media (min-width: 960px) {
   /* body {
        background-color: #FFF;
        
    }*/

    .pizzas {
        display: flex; 
    }
    
}